body{
    height: 90vh;
    display:grid;
    place-content: center;
}

img{
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
thead{
    border-color: 2px solid black;
}
th,td{
    width: 100px;
    height: 50px;
    
    
}
td{
    border-color: 2px solid black;
}
th{
    background-color: green;
    color: white;
}

table{
    border-color: 2px solid black;
}